//pulls in bootstrap/sass variables and codes
@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';


//<----------------------------------------------------------------------------->
//custom CSS
html{
  background: $ww-charcoal;
  height: 100%;
  width: 100%;
}


body{
  background: $ww-charcoal;
  color: white;
  max-width: 1200px;
  margin: auto;

}

hr{
  border-top: 1px solid $ww-red;
  width: 95%;
}

main{
  margin-top: 20px;
  width: 100%;
  display: block;
}

section{
  padding: 2%;
  width: 90%;
  margin: auto;
}

.subheader{
  text-align: center;
  padding-bottom: 3%;
}

.lead{
  text-align: center;
}

//styles for nav bar
nav{
  width: 100%;
  background-color: $black;
}

//<----------------------------------------------------------------------------->
//styles for HEADER ITEMS
@mixin header($color) {
  text-align: center;
  font-size: 36px;
  color: $color;
  font-weight: bold;
  padding-bottom: 2%;
}

.header{
  @include header($ww-red);
}


.btn-primary{
  background-color: $ww-yellow;
  border: none;
}

.btn-primary:hover{
  background-color: $ww-red;
  border: none;

}

.menu-link{
  color: $ww-yellow;
  text-decoration: none;
}
.menu-link:hover{
  color: $ww-yellow;
  text-decoration: none;
}

.header-link{
  color:$ww-red;
  text-decoration: none;
}

.header-link:hover{
  color:$ww-red;
  text-decoration: none;
}

.middle
{
    position: relative;
}

.middle:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $ww-yellow;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.middle:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.middle2
{
    position: relative;
}

.middle2:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $ww-red;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.middle2:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

//<----------------------------------------------------------------------------->
//Styles for HOURS AND LOCATION
.hours-location{
  padding: 1%;
  color: $white;
  width: 100%;
  margin: auto;
}

.hours-location p{
  margin: 0;
}

p a{
  text-decoration: underline;
  color: $white;
  font-weight: bold;
}

p a:hover{
  font-weight: bold;
  color: $ww-red;
}


.hours p{
  margin: 0;
}

.dine-in, .days, .take-out {
  margin-left: 2%;
}

.hours-location{
  display: flex;
  justify-content: center;
}

//<----------------------------------------------------------------------------->
//styles for MENU on homepage
.items-pricing{
  color: $white;
  margin: 0;
}

.wonderdog{
  color: $ww-red;
  font-weight: bold;
}
//<----------------------------------------------------------------------------->
//styles for gallery section of hp
.gallery-hp{
  padding-bottom: 20px;
}

.gallery-hp h2{
  color: $black;
  padding-bottom: 20px;
}

.carousel-img{
  width: 70%;
   margin: auto;
}

//<----------------------------------------------------------------------------->
//Styles for the footer
footer{
  background-color: $black;
}

//<----------------------------------------------------------------------------->
//styles for MENU page
ul.nav-tabs{
  border-bottom:1px solid $ww-red;
}

.nav-tabs{
  margin-bottom: 3%;
}

li.nav-item{
  margin-top: 2%;
  margin-right: 1%;
  padding-bottom: 1px;
}

div.tab-content{

  h1{
    color: $ww-red;
  }
  li{
    list-style: none;
  }
  h2{
    color: $ww-yellow;
  }
  p{
    color: $white;
    font-size: 20px;
    font-weight: lighter;
  }
}

hr.hr-menu{
  border-top: 1px solid $ww-red;
  width: 100%;
  align-self: center;
}

section.menu-tabs{
  margin: 1em;

  a{
    color: $white;
    background-color: $ww-light-grey;
  }
  a:hover{
      color: $ww-charcoal;
      background-color: $ww-yellow;
    }
  a.nav-link.active{
    color: $white;
    background-color: $ww-red;
    border: 1px solid $ww-red;
  }
}

//<----------------------------------------------------------------------------->
//Styles for GALLERY Lightbox

.lightbox-gallery p {
    color: #fff
}

.lightbox-gallery h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: #fff
}

@media (max-width:767px) {
    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

.lightbox-gallery .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
}

.lightbox-gallery .intro p {
    margin-bottom: 0;
}

.lightbox-gallery .photos {
    padding-bottom: 20px;
}

.lightbox-gallery .item {
    padding-bottom: 30px;
}

.item img{
    object-fit: cover;
    width:400px;
    height:300px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
.col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5,
.col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  margin-bottom: 1em;
  width: 100%;
  padding:0;
}

.lightbox-gallery .item{
  padding-right: 1em;
  padding-bottom: 0;
}



//<----------------------------------------------------------------------------->
//light box css copy and pasted:
body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  outline: none;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;

  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;

  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.col-md-8{
    padding-top: 10%;
}

.mascot{
  width:100%;
  margin: auto;
  display: block;

}

@media only screen and (max-width: 780px) {
  .mascot{
    width:70%;
    margin: auto;
    display: block;
  }
}

.table{
  width: 100%;
  margin-bottom: 1rem;
  color: white;
}

.table-hover tbody tr:hover {
    color: $ww-charcoal;
    background-color: white;
}

//<----------------------------------------------------------------------------->
//CSS for Mobile view:

@media only screen and (max-width: 995px) {

  div.location, div.hours{
    margin-bottom: 5%;
    width: 100%;
    padding:0;
  }

  .col-lg{
    margin-bottom: 5%;
    width: 100%;
    padding:0;
  }

  .hours-location{
    display: flex;
    justify-content: center;
  }

  .carousel-img{
    width: 80%;
     margin: auto;
  }
  body{
    width: 100%;
  }



}

@media only screen and (max-width: 700px) {

  .lightbox-gallery .item{
    padding-right: 0;
    padding-bottom: 0;
  }
}
